/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
.banner{
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

/* Navbar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;  /* padding left/right applied */
  position: relative;
  background-color: #fff;
}

.categories{
  display: flex;
  gap: 20px;
}

.category-items{
  font-size: 15px;
  cursor: pointer;
}

.title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.options{
  display: flex;
  gap: 20px;
  align-items: center;
}

.login{
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.options-i{
  cursor: pointer;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-bottom: 40px;
}

.hero-img{
  object-fit: cover;
  width: 1500px;
  height: 85vh;
  border-radius: 10px;
  position: relative;
}


.left-hero{
  display: flex;
  flex-direction: column;
  gap:20px
  
}


.left-hero h2{
  font-size: 48px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 250px;
  width: 100%;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}


.hero-right{
  margin-top: 50px;
}

.shop{
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
}


.collection{
  
  
  height: 160vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;

}


.collection-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 10px;
  margin-bottom: 50px;
}


.collection-heading span{

  text-align: center;
  color: gray;
  width: 30%;
}


.product{
  width: 32%;
  
}

.product-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  
}




.product{
  display: flex;
  flex-direction: column;
  gap:10px;
  cursor: pointer;
}

.product:hover{


  opacity: 0.8;
}

.product:active{


  opacity: 0.6;
}


.product span{
  color: gray;
  margin-bottom: 20px;
}


.products{
  display: flex;
  align-items: center;
  gap:20px;
  flex-wrap: wrap;
  
}



.wedding{
  
  height: 60vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;
 
}


.wedding-photo-cover{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.wedding-photo-cover h1{
  font-size: 36px;
  color: rgb(48, 46, 46);
}

.wedding-photo-cover span{
  color: gray;
  margin-bottom: 20px;
}

.wedding-photo{
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}


.details{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px;
}



.types{
  margin-left: 200px;
  margin-right: 200px;

  height: 55vh;
  

  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 100px;
 
}


.type{
  width: 50%;
  height: 100%;
  position: relative;
}

.type-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.type-content{
  position: absolute;
  top: 75%;
  left: 7%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.type-details{

  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;

}

.type-details:active{
  opacity: 0.83;
}


.ending{

  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}


.left-e{

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.left-e h1{
  font-size: 64px;
  font-weight: bolder;
}


.left-e span{
  color: rgb(102, 96, 96);
 width: 70%;
 font-weight: bold;
  
}


input{
  border-radius: 20px;
  height: 40px;
  width: 400px;
  border: 1px solid gray;
  padding: 10px;
  margin-right: 10px;
}


.submit-form{
  background-color: black;
  color: white;
  padding:10px 30px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}


.submit-form:active{
  opacity: 0.8;
}


.products-e{
  display: flex;
  flex-direction: column;
  gap:20px;
}


.items-e{
  display: flex;
  flex-direction: column;
  gap:10px;
  color: gray;
  font-size: 24px;
  font-weight: bold;
}

.right-e{
  display: flex;
  
  gap:150px;
}


.footer{
  height: 5vh;
  width: 100%;
  background-color: rgb(21, 21, 21);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  
}

.copyright{
  display: flex;
  align-items: center;
  gap:5px;
}

.terms{
  display: flex;
  align-items: center;
  gap:20px;
}



.credits{
  height: 8vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
}


a{
  color: rgb(25, 118, 210);
  margin-left: 5px;
  margin-right: 5px;
}