/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
.banner{
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

/* Navbar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;  /* padding left/right applied */
  position: relative;
  background-color: #fff;
}

.categories{
  display: flex;
  gap: 20px;
}

.category-items{
  font-size: 15px;
  cursor: pointer;
}

.title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.options{
  display: flex;
  gap: 20px;
  align-items: center;
}

.login{
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.options-i{
  cursor: pointer;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-bottom: 40px;
}

.hero-img{
  object-fit: cover;
  width: 1500px;
  height: 85vh;
  border-radius: 10px;
  position: relative;
}


.left-hero{
  display: flex;
  flex-direction: column;
  gap:20px
  
}


.left-hero h2{
  font-size: 48px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 250px;
  width: 100%;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}


.hero-right{
  margin-top: 50px;
}

.shop{
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
}


.collection{
  
  
  height: 160vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;

}


.collection-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 10px;
  margin-bottom: 50px;
}


.collection-heading span{

  text-align: center;
  color: gray;
  width: 30%;
}


.product{
  width: 32%;
  
}

.product-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  
}




.product{
  display: flex;
  flex-direction: column;
  gap:10px;
  cursor: pointer;
}

.product:hover{
  opacity: 0.8;
}


.product span{
  color: gray;
  margin-bottom: 20px;
}


.products{
  display: flex;
  align-items: center;
  gap:20px;
  flex-wrap: wrap;
  
}



.wedding{
  
  height: 60vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;
 
}


.wedding-photo-cover{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.wedding-photo-cover h1{
  font-size: 36px;
  color: rgb(48, 46, 46);
}

.wedding-photo-cover span{
  color: gray;
  margin-bottom: 20px;
}

.wedding-photo{
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}


.details{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px;
}



.types{
  margin-left: 200px;
  margin-right: 200px;

  height: 55vh;
  

  display: flex;
  align-items: center;
  gap: 20px;
 
}


.type{
  width: 50%;
  height: 100%;
  position: relative;
}

.type-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.type-content{
  position: absolute;
  top: 70%;
  left: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.type-details{

  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: bold;

}

